{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Help</title>
    <!--=======CSS========-->
    <link rel="stylesheet" href="{% static 'indexstyle.css' %}">

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <a href="#" class="logo">volunteer-help</a>
        <ul class="nav-link">
            <li><a href="#">Statistic</a></li>
            <li class="active"><a href="/nonprofit/">Home</a></li>
        </ul>
    </nav>

    <!-- Main Content -->
    <div class="container">
        <!-- Photo Section -->
        <img src="{% static 'image/volunteer-photo.png' %}" alt="Volunteer Image" class="button-photo">
        <div class="button-container">
            <!-- Volunteer Form -->
            <form action="{% url 'nonprofit:volunteer_home' %}" method="POST">
                {% csrf_token %}
                <button class="custom-button">volunteer</button>
            </form>

            <!-- Event Form -->
            <form action="{% url 'nonprofit:event_home' %}" method="POST">
                {% csrf_token %}
                <button class="custom-button">Event</button>
            </form> 

            <!--Participate Form-->
             {% comment %} <form action="{% url 'nonprofit:participation_home' %}" method="POST">
                {% csrf_token %}
                <button class="custom-button">Participation</button>
            </form>  {% endcomment %}
        </div>
    </div>
</body>
</html>
