<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'nonprofit:volunteer_home' %}" method="POST">
    {% csrf_token %}
    <button>volunteer</button>
</form>
<form action="{% url 'nonprofit:event_home' %}" method="POST">
    {% csrf_token %}
    <button>event</button>
</form>
<form action="{% url 'nonprofit:participation_home' %}" method="POST">
    {% csrf_token %}
    <button>participation</button>
</form>
</body>
</html>