{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--=======CSS========-->
    <link rel="stylesheet" href="{% static 'volunteer.css' %}">
</head>
<body>
<!-- Navbar -->
<nav class="navbar">
    <a href="#" class="logo">volunteer-help</a>
    <ul class="nav-link">
        <li><a href="#">Statistic</a></li>
        <li class="active"><a href="/nonprofit/">Home</a></li>
    </ul>
</nav>
<style>
    body {
        padding-top: 60px; /* Default Bootstrap navbar height */
    }
</style>
<div class="container">
    <h2 style="color: #6D4B28">Volunteer</h2>
    <br>
    <br>
    <!-- ======= Modal of Insert Skill======= -->
    <div class="modal" tabindex="-1" id="InsertSkillModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Insert New Skill</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addSkillForm" method="POST" action="{% url 'nonprofit:insert_skill' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="skillName" class="form-label">Skill Name</label>
                            <input type="text" class="form-control" name="name" id="skillName" required>
                        </div>
                        <button type="submit" class="btn btn-primary fade-button">insert</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ======= Modal of Insert Volunteer======= -->
    <div class="modal" tabindex="-1" id="InsertVolunteerModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Insert New Volunteer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addVolunteerForm" method="POST" action="{% url 'nonprofit:insert_volunteer' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="volunteerName" class="form-label">Name</label>
                            <input type="text" class="form-control" name="name" id="volunteerName" required>
                        </div>
                        <div class="mb-3">
                            <label for="volunteerEmail" class="form-label">Email</label>
                            <input type="text" class="form-control" name="email" id="volunteerEmail" required>
                        </div>
                         <div class="mb-3">
                            <label for="volunteerSkills" class="form-label">Skills</label>
                            <div>
                                {% for skill in skill_list %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="skills" value="{{ skill.id }}" id="skill-{{ skill.id }}">
                                        <label class="form-check-label" for="skill-{{ skill.id }}">
                                            {{ skill.name }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary fade-button">insert</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-3">
        {% for volunteer in volunteer_list %}
        <!-- ======= Modal of Update Volunteer======= -->
        <div class="modal" tabindex="-1" id="updateVolunteerModal-{{ volunteer.id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Volunteer Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="updateVolunteerForm" method="POST" action="{% url 'nonprofit:update_volunteer' volunteer.id %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="volunteerName" class="form-label">Name</label>
                                <input type="text" class="form-control" name="name" id="volunteerName" value="{{ volunteer.name }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="volunteerEmail" class="form-label">Email</label>
                                <input type="text" class="form-control" name="email" id="volunteerEmail" value="{{ volunteer.email }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="volunteerSkills" class="form-label">Skills</label>
                                <div>
                                    {% for skill in skill_list %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="skills" value="{{ skill.id }}" id="skill-{{ skill.id }}">
                                            <label class="form-check-label" for="skill-{{ skill.id }}">
                                                {{ skill.name }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary fade-button">save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Skill</th>
        </tr>
    </thead>
    <tbody>
        {% for volunteer in volunteer_list %}
        <tr>
            <td>{{ volunteer.name }}</td>
            <td>{{ volunteer.email }}</td>
            <td>
                {% for skill in volunteer.skills.all %}
                <label>{{ skill }}</label>
                {% endfor %}
            </td>
            <td>
                <button data-bs-toggle="modal" data-bs-target="#updateVolunteerModal-{{ volunteer.id }}">
                    update
                </button>
            </td>
            <td>
                <form action="{% url 'nonprofit:delete_volunteer' volunteer.id %}" method="POST">
                    {% csrf_token %}
                    <button>delete</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<button data-bs-toggle="modal" data-bs-target="#InsertVolunteerModal">
    insert volunteer
</button>
<button data-bs-toggle="modal" data-bs-target="#InsertSkillModal">
    insert skill
</button>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>