/*--Volunteer Page--*/
.btn-insert-volunteer {
    background-color: #D4857A !important;
    border-color: #D4857A !important;
    color: white !important;
    margin-right: 20px !important;
}

.btn-insert-volunteer:hover {
     background-color: #A4614F !important;
     border-color: #A4614F !important;
     color: white !important;
}

.btn-insert-skill {
     background-color: #D1926E !important;
     border-color: #D1926E !important;
     color: white !important;
     margin-right: 20px !important;
}

.btn-insert-skill:hover {
     background-color: #C87546 !important;
     border-color: #C87546 !important;
     color: white !important;
}

/*--Event Page--*/
.btn-insert-event {
    background-color: #D4857A !important;
    border-color: #D4857A !important;
    color: white !important;
    margin-right: 20px !important;
}

.btn-insert-event:hover {
    background-color: #A4614F !important;
    border-color: #A4614F !important;
    color: white !important;
}
.btn-insert-organization {
    background-color: #D1926E !important;
    border-color: #D1926E !important;
    color: white !important;
    margin-right: 20px !important;
}

.btn-insert-organization:hover {
    background-color: #C87546 !important;
    border-color: #C87546 !important;
    color: white !important;
}

.btn-insert-category {
    background-color: #CBB27B !important;
    border-color: #CBB27B !important;
    color: white !important;
}

.btn-insert-category:hover {
    background-color: #99785C !important;
    border-color: #99785C !important;
    color: white !important;
}

/*--Participant Page--*/
.btn-insert-participation {
    background-color: #D4857A !important;
    border-color: #D4857A !important;
    color: white !important;
    margin-right: 20px !important;
}

.btn-insert-participation:hover {
    background-color: #A4614F !important;
    border-color: #A4614F !important;
    color: white !important;
}


/*--Edit Button--*/
.btn-edit {
    background-color: #89B8AD !important;
    border-color: #89B8AD !important;
    color: white !important;
}

.btn-edit:hover {
    background-color: #519280 !important;
    border-color: #519280 !important;
    color: white !important;
}

/*--Tables--*/
.event-table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    color: black;
}

.event-table th, .event-table td {
    border: 3px solid white;
    padding: 12px;
    text-align: center;
}

.event-table th {
    background-color: #9B7955;
    color: white;
}

.event-table tr:nth-child(even) {
    background-color: #F4F1ED;
    color: #6D4B28;
}

.event-table tr:nth-child(odd) {
    background-color: #FAF8F2;
    color: #6D4B28;
}

.volunteer-table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    color: black;
}

.volunteer-table th, .volunteer-table td{
    border: 3px solid white;
    padding: 12px;
    text-align: center;
}

.volunteer-table th {
    background-color: #9B7955;
    color: white;
}

.volunteer-table tr:nth-child(even) {
    background-color: #F4F1ED;
    color: #6D4B28;
}

.volunteer-table tr:nth-child(odd) {
    background-color: #FAF8F2;
    color: #6D4B28;
}

.participation-table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    color: black;
}

.participation-table th, .participation-table td {
    border: 3px solid white;
    padding: 12px;
    text-align: center;
}

.participation-table th {
    background-color: #9B7955;
    color: white;
}

.participation-table tr:nth-child(even) {
    background-color: #F4F1ED;
    color: #6D4B28;
}

.participation-table tr:nth-child(odd) {
    background-color: #FAF8F2;
    color: #6D4B28;
}

/*--Modal--*/
.modal-body, .modal-body form {
    text-align: left;
}
